.square{
    width: 200px;
    height: 200px;
    border-style: solid;
   border-color: black;
}
.grid{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
}
.mole{
    background-image: url('mole.png');
    background-size: cover;
}